Click==7.0
Flask==1.0.2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
pandas==0.24.2
pip==19.1
setuptools==41.0.1
tweepy==3.7.0
virtualenv==16.4.3
virtualenv-clone==0.5.3
Werkzeug==0.15.3
wheel==0.33.1
